* {
  padding: 0;
  margin: 0;
  color: #ffffff;
}

body {
  background-color: rgb(43, 43, 43);
}

li {
  list-style-type: none;
}

a {
  text-decoration-line: none;
}


/* Layout */
.container_main {
    display: flex;
}

.NavPan {
    width: 20vw;
    height: 100vh;
}

.Gallery {
    width: 80vw;
    height: 100vh;
    display: flex;
}